@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
/*
    Weights: 300, 400, 600
    Font size (paragraph): 18px
    Mobile: 375px
    Desktop: 1440px
    font-family: 'Outfit', sans-serif;
*/

:root {
  /*Primary*/
  --soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  /*Neutral*/
  --main-dark-blue: hsl(217, 54%, 11%);
  --card-dark-blue: hsl(216, 50%, 16%);
  --line-dark-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

/*Main*/
body {
  background-color: var(--main-dark-blue);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  min-width: 375px;
}
/*card*/
.card {
  background-color: var(--card-dark-blue);
  border-radius: 1rem;
  box-shadow: currentColor;
  margin-top: 5rem;
  font-size: 0.9rem;
}
.container {
  position: relative;
  width: 100%;
  max-width: 375px;
  margin: 2rem;
}
/*Image*/
.imgContainer {
  position: relative;
}
.img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 100%;
  border-radius: 0.5rem;
  opacity: 0;
  transition: 0.3s ease;
  background-color: var(--Cyan);
}
.imgContainer:hover .overlay {
  opacity: 0.3;
  cursor: pointer;
}
.iconView {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  visibility: hidden;
}
.imgContainer:hover .iconView {
  visibility: visible;
  transition: 0.9s;
  cursor: pointer;
}
/*Content*/
.content {
  margin-top: 1.5rem;
}
.heading {
  color: var(--white);
  font-weight: 600;
}
.heading:hover {
  color: var(--Cyan);
  cursor: pointer;
}
.desc {
  color: var(--soft-blue);
  font-weight: 100;
  margin-top: 1rem;
}
.content2 {
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
}
.table {
  width: 100%;
}
.etherium {
  color: var(--Cyan);
  text-align: left;
}
.etherium::before {
  content: url(./images/icon-ethereum.svg);
  padding-right: 0.4rem;
  vertical-align: middle;
}
.time {
  color: var(--soft-blue);
  text-align: right;
}
.time::before {
  content: url(./images/icon-clock.svg);
  padding-right: 0.4rem;
  vertical-align: middle;
}
/*Horizpntal Lines*/
hr {
  margin-top: 1.5rem;
  border: 0;
  clear:both;
  display:block;               
  background-color: var(--line-dark-blue);
  height: 1px;
}
/*Creator Desc*/
.creatorDesc {
  margin-top: 1rem;
}
.creatorImg {
  width: 1.8rem;
  border-color: var(--white);
  border-style: solid;
  border-radius: 50%;
  border-width: 1.5px;
}
.creatorInfo {
  padding-left: 1rem;
  font-weight: 400;
}
.createdBy {
  color: var(--soft-blue);
}
.creatorName {
  color: var(--white);
}
.creatorName:hover {
  color: var(--Cyan);
  cursor: pointer;
}
/*Footer*/
.footer {
  font-size: 1rem;
  text-align: center;
  color: var(--white);
  margin-top: 2rem;
  margin-bottom: 5rem;
}
