@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');
/*
    font-family: 'Poppins', sans-serif;
    - Weights: 200, 400, 600

    - Mobile: 375px
    - Desktop: 1440px

    - Font size: 15px
*/

:root {
    /* card line */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    /* Body */
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 1%, 69%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
/* Header -> Text */
.head {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
}
.txt1 {
    font-weight: 200;
    color: var(--Grayish-Blue);
}
.txt2 {
    font-weight: 600;
    color: var(--Very-Dark-Blue);
    margin-top: .5rem;
}
.desc {
    font-weight: 400;
    font-size: .8rem;
    color: var(--Very-Light-Gray);
    margin-top: 1.5rem;
    padding-left: 35%;
    padding-right: 35%;
}
/* Body -> Card */
.cardContainer {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    place-content: center;
}
.card {
    width: 270px;
    height: 200px;
    margin: .8rem;
    overflow: hidden;
    border-radius: .4rem;
    box-shadow: 0px 0px 20px 5px #00000020;
    transition: .5s;
}
.cardMiddle {
    display: flex;
    flex-direction: column;
}
/* Body -> Card -> hover */
.card-1:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px 5px #45d3d370;
    transition: .5s;
}
.card-2:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px 5px #ea535370;
    transition: .5s;
}
.card-3:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px 5px #fcaf4a70;
    transition: .5s;
}
.card-4:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px 5px #549ef270;
    transition: .5s;
}
/* Body -> Card -> Horizontal-Lines */
.hr-1 {
    border-top: 3px solid var(--Cyan);
}
.hr-2 {
    border-top: 3px solid var(--Red);
}
.hr-3 {
    border-top: 3px solid var(--Orange);
}
.hr-4 {
    border-top: 3px solid var(--Blue);
}
/* Body -> Card -> Heading's & Description's */
.cardHead {
    text-align: start;
    font-size: 1rem;
    font-weight: 600;
    color: var(--Very-Dark-Blue);
    margin-top: 1.2rem;
    margin-left: 1.2rem;
}
.cardDesc {
    text-align: start;
    font-size: .73rem;
    font-weight: 200;
    color: var(--Very-Light-Gray);
    margin-top: .8rem;
    margin-left: 1.2rem;
    margin-right: 1rem;
    line-height: 20px;
}
/* Body -> Card -> Icon's */
.cardIcon {
    width: 3rem;
    position: relative;
    margin-top: 2rem;
    margin-left: 12.2rem;
}
/* Media-Query */
/* ---------------> Tablet */
@media (max-width: 912px) {
    .cardContainer {
        flex-direction: column;
    }
}
/* Footer */
.attribution {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: .7rem;
    font-weight: 600;
    color: var(--Very-Dark-Blue);
    margin-top: 4rem;
    margin-bottom: 1rem;
}